node_modules
npm-debug.log
.env

# Tweetbeat assets.
assets-old/.bundle
assets-old/log/*.log
assets-old/tmp/*
assets-old/.env
assets-old/.DS_Store

src/vendor

# Compiled assets
public/js
public/css
public/*.html
